# editor temporary / backup files
*~

# artifacts from autotools
INSTALL
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.sub
config.log
config.status
configure
install-sh
missing
depcomp
Makefile
prime_server/config.h
prime_server/config.h.in
prime_server/stamp-h1
libprime_server.pc
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
libtool

# built objects
*.o
.deps/
.dirstamp
*.lo
.libs/
libprime_server.la
prime_serverd
prime_httpd
prime_proxyd
prime_workerd
prime_echod
prime_filed

# tests
test-suite.log
test-driver
test/zmq
test/netstring
test/http
test/shaping
test/interrupt
test/*.log
test/*.trs

# test coverage stuff
*.gcno
*.gcda
coverage.info
coverage/

# project settings
.cproject
.project
.settings
.idea/
.vscode
cmake-build-debug/

# CMake out-of-source build directories
build/
